@model WebsiteMovie_DAN.Models.TaiKhoan
@{
    ViewBag.Title = "Chỉnh sửa tài khoản - Quản trị - NamLoc Movie";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa tài khoản</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-field">
            <table>
                <tr>
                    <td>
                        <b>Tên đăng nhập </b>
                    </td>
                    <td>
                        @Model.TenDN
                    </td>
                </tr>
                <tr>
                    <td style="width:125px"><b>Mật khẩu </b></td>
                    <td>
                        @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control" })
                        @ViewData["Loi"]
                    </td>
                </tr>
                <tr>
                    <td style="width:125px"><b>Email </b></td>
                    <td>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @ViewData["Loi"]
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Lưu cập nhật" class="btn btn-success" />
        </p>
    </fieldset>
}
<div style="margin-top:10px;">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Trở lại", "DSTaiKhoan", "TaiKhoan")</button>
</div>

