@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebsiteMovie_DAN.Models.TaiKhoan
@using (Html.BeginForm("DangKy", "DangNhapDangKy", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="container" style="padding-top:60px">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đăng ký</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <h2>Tên đăng nhập</h2>
                                @Html.TextBox("TenDN", null, new { @class = "form-control" })
                                @ViewData["Loi2"]
                                @ViewData["Loi"]
                            </div>

                            <div class="form-label-group">
                                <h2>Mật khẩu</h2>
                                @Html.Password("MatKhau", null, new { @class = "form-control", })
                                @ViewData["Loi"]

                            </div>
                            <div class="form-label-group">
                                <h2>Xác nhận mật khẩu</h2>
                                @Html.Password("MatKhauNhapLai", null, new { @class = "form-control", })
                                @ViewData["Loi12"]
                            </div>
                            <div class="form-label-group">
                                <h2>Email</h2>
                                @Html.TextBox("Email", null, new { @class = "form-control" })
                                @ViewData["Loi2"]
                                @ViewData["Loi"]
                            </div>


                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng ký</button>
                            <div style="padding-top:10px;margin-left:5px;">
                                <a style="color:#0094ff" href="~/DangNhapDangKy/DangNhap">Quay về đăng nhập</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}